.drug-id header {
    background-image: url(../img/drug-id-bg.png);
}

.drug-id div>.form-cont {
    width: 70%;
    padding: 15px;
}

.drug-id .form-cont button.nav-link {
    color: #6F6F6F;
}

.drug-id .form-cont .nav-tabs .nav-item.show .nav-link,
.drug-id .form-cont .nav-tabs .nav-link.active {
    color: #000;
}


article .middle section form .upload {
    display: block;
    padding: 0px 16px;
    border-radius: 8px;
    background: linear-gradient(326.42deg, #0096EA 10.57%, #00D1FF 154.06%);
    border: 0;
    color: white;
    width: 402px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 30px auto;
    cursor: pointer;
}

.drug-id div section form button label {
    width: 100%;
    cursor: pointer;
}

.drug-id div section form .results {
    display: inline-block;
    padding: 8px 16px;
    margin-left: 10px;
    border-radius: 8px;
    background: linear-gradient(326.42deg, #0096EA 10.57%, #00D1FF 154.06%);
    border: 0;
    color: white;
    height: 40px;
}

.drug-id div section form div .or {
    background-color: #fff;
    color: #6F6F6F;
    font-size: 25px;
    font-weight: lighter;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 15px;
}

.drug-id div section form div #drop_zone {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.drug-id div section form div .drag-zone {
    color: #7C7C7C;
    text-align: center;
}

.drug-id div section form .color-cont,
.drug-id div section form .shape-cont {
    width: 30%;
}

.drug-id div section form .color-cont .color {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-color: transparent;
    border-radius: 50%;
    position: absolute;
    top: 43px;
    left: 10px;
}


.drug-id div>.guide {
    width: 30%;
    padding: 15px;
}

.drug-id div section:last-child ul {
    list-style: decimal;
}

.drug-id div section:last-child ul li {
    font-weight: 600;
    margin-bottom: 10px;
}

.drug-id div section:last-child ul li span {
    color: #0096EA;
}



.toggle-nav {
    background: linear-gradient(326.42deg, #0096EA 10.57%, #00D1FF 154.06%);
    color: white;
    position: fixed;
    bottom: 40px;
    left: -55px;
    border: 0;
    z-index: 9;
    padding-left: 55px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

@media (width <=767px) {

    .drug-id div section form input {
        width: 80% !important;
    }

    .drug-id div section form button {
        width: 75% !important;
        margin-bottom: 10px;
    }

    .drug-id div section form .color-cont,
    .shape-cont {
        width: 50% !important;
    }

    article .middle section form .upload {
        width: 100% !important;
        /* margin-top: 10px; */
    }
}


@media (768px <=width <=995px) {
    .drug-id div section form button {
        width: 75% !important;
        margin-bottom: 10px;
    }

    .drug-id div section form .color-cont,
    .shape-cont {
        width: 50% !important;
    }
}