.food-interactions header {
    background-image: url(../img/Food-Int-Img.png);
}

.food-interactions .middle section {
    min-height: 250px;
}

.food-interactions .middle section:first-child {
    width: 70%;
    padding: 15px;
}

.food-interactions .middle section form span {
    display: inline-block;
    padding: 8px 16px;
    margin-left: 10px;
    border-radius: 8px;
    background: linear-gradient(326.42deg, #0096EA 10.57%, #00D1FF 154.06%);
    border: 0;
    color: white;
    height: 40px;

}

.food-interactions .middle section:last-child {
    width: 30%;
    padding: 15px;
}

.food-interactions .middle section:last-child ul {
    list-style: decimal;
}

.food-interactions .middle section:last-child ul li {
    font-weight: 600;
    margin-bottom: 10px;
}

.food-interactions .middle section:last-child ul li span {
    color: #0096EA;
}

.food-interactions .result h3 span {
    color: #0096EA;
}

.food-interactions .result>div {
    padding: 2rem;
    border: 1.24px solid #E6EBED;
    border-radius: 19.88px;
}

.food-interactions .result .inter-result {
    height: 400px;
    overflow-y: scroll;
    border: 1.24px solid #858C94;
    border-radius: 10px;
}

.food-interactions .result .inter-result::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    position: absolute;
    right: 0;
}

.food-interactions .result .inter-result::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 10px;
}

.food-interactions .result .inter-result::-webkit-scrollbar-thumb {
    background: linear-gradient(326.42deg, #0096EA 10.57%, #00D1FF 154.06%);
    border-radius: 10px;
}

.food-interactions .result .inter-result p {
    padding: 20px 10px;
    margin: 0;
    color: #858C94;
    font-weight: 500;
    font-size: 15px;
    border-bottom: 1.24px solid #858C94;
    border-radius: 0 0 7px 7px;
}

.toggle-nav {
    background: linear-gradient(326.42deg, #0096EA 10.57%, #00D1FF 154.06%);
    color: white;
    position: fixed;
    bottom: 40px;
    left: -55px;
    border: 0;
    z-index: 9;
    padding-left: 55px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.tooltip-success {
    --bs-tooltip-bg: #fff;
    /* or hardcode any color */
}

@media (width <=767px) {
    .food-interactions .middle section {
        min-height: 200px;
    }

    .food-interactions div section form input {
        width: 80% !important;
    }

    .food-interactions div section form button {
        width: 75% !important;
    }

    .food-interactions .result .inter-result::-webkit-scrollbar {
        width: 5px;
        /* height: 10px; */
    }
}

@media (768px <=width <=995px) {
    .food-interactions div section form input {
        width: 80% !important;
    }

    .food-interactions div section form button {
        width: 75% !important;
        margin-bottom: 10px;
    }
}