* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif !important;
    background-color: #edfaff !important;
}

main {
    position: relative;
}

.sidebar {
    background-color: #fff;
    text-align: center;
    width: 82px;
    transition: 0.5s;
    height: 100vh;
    position: sticky;
    top: 0;
}

.sidebar.open {
    width: 260px;
}

.sidebar a.logo {
    display: block;
    padding: 15px;
}

.sidebar a.logo img {
    width: 40px !important;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 1rem;
    overflow: hidden;
}

.sidebar ul li a {
    display: flex;
    align-items: center;
    gap: 25px;
    width: 250px;
    color: #125a6c;
    text-decoration: none;
    transition: 0.3s color;
    overflow: hidden;
    font-weight: 500;
    padding: 15px 25px;
    position: relative;
}

.sidebar ul li a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background-color: #0096EA;
    opacity: 0;
    transition: 0.3s;
}

.sidebar ul li a:hover,
.sidebar ul li a.active {
    color: #023047;
    font-weight: 600;
}


.sidebar ul li a:hover::before,
.sidebar ul li a.active::before {
    opacity: 1;
}

.sidebar ul li a:hover svg path,
.sidebar ul li a.active svg path {
    fill: #023047;
}

.sidebar button {
    background-color: transparent;
    border: none;
    outline: 0;
    margin-top: 1rem;
}

.sidebar button svg {
    color: #125a6c;
    font-size: 22px;
}

.sidebar button.close svg {
    color: red;
}

article {
    /* width: 85%; */
    flex: 1;
    min-height: 100vh;
    transition: 0.5s;
    padding: 10px;
}

/* .sidebar.open~article {
    width: 70%;
} */

article header {
    width: 100%;
    height: 375px;
    background-color: white;
    background-size: cover;
    background-position: 50%;
    /* margin-top: 10px; */
    position: relative;
    border-radius: 16px;
}

article header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.02) 0%, #000000 100%);
    border-radius: 16px;
}

article header div {
    color: #fff;
    text-align: center;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 0 15px;
}

article header div p:first-child {
    font-weight: 500;
    margin-bottom: 5px;
}

article header div h1 {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
}

article header div p:last-child {
    font-weight: 400;
    margin-bottom: 5px;
}

article .middle {
    width: 100%;
    margin-top: 15px;
    display: flex;
    gap: 1.5rem;
}

article .middle>section {
    background-color: #fff;
    border-radius: 10px;
}

article .middle>section h6 {
    font-weight: 600;
    margin-bottom: 15px;
}

article div section form input {
    width: 60%;
    border: 1px solid #858C94;
    border-radius: 7px;
    padding: 5px 10px;
    outline: 0;
    margin-bottom: 20px;
}

article .middle section form button[type='submit'] {
    padding: 0px 16px;
    border-radius: 8px;
    background: linear-gradient(326.42deg, #0096EA 10.57%, #00D1FF 154.06%);
    border: 0;
    color: white;
    width: 402px;
    height: 40px;
}

article div.result {
    width: 100%;
    min-height: 300px;
    background-color: #fff;
    margin-top: 15px;
    border-radius: 10px;
}

article div.result h3 {
    font-weight: 500;
}

article div.result h3 span {
    color: #0096EA;
}


article div.result>div {
    padding: 2rem;
    border: 1.24px solid #E6EBED;
    border-radius: 19.88px;
}

@media (width <=767px) {
    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        overflow-y: scroll;
        height: 100vh;
        z-index: 999;
    }

    .sidebar.open {
        width: 65%;
    }

    .sidebar ul {
        margin-bottom: 1rem;
    }

    .sidebar.close {
        left: -100%
    }

    article {
        width: 100%;
        padding: 16px 1.5rem;
    }

    .sidebar.open~article {
        width: 100%;
    }

    article .middle {
        flex-wrap: wrap;
        gap: 1rem;
    }

    article .middle>section:first-child {
        width: 100% !important;
    }

    article .middle>section:last-child {
        width: 100% !important;
    }
}

@media (768px <=width <=995px) {
    .sidebar {
        padding: 2rem;
        width: 15%;
    }

    .sidebar.open {
        width: 30%;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .sidebar.close {
        left: -100%
    }

    article {
        width: 80%;
    }

    .sidebar.open~article {
        width: 65%;
    }

    article .middle {
        gap: 1rem;
    }

    article .middle>section:first-child {
        width: 60% !important;
    }

    article .middle>section:last-child {
        width: 40% !important;
    }
}