:root {
  --dark-blue: rgba(2, 48, 71, 1);
  --blue-color: rgba(0, 128, 255, 1);
  --baby-blue: rgba(187, 223, 240, 1);
  --foter-bg-color: rgba(55, 55, 57, 1);
}

body {
  font-family: "Poppins", sans-serif !important;
}

h3 span {
  color: var(--blue-color);
}

nav.navbar {
  position: sticky !important;
  top: 0;
  background-color: #fff;
  z-index: 999;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-bottom: 1px solid #eee;
}

nav .navbar-brand svg {
  width: 100px;
  height: 41px;
}

nav div>a,
nav ul li a {
  color: var(--dark-blue) !important;
  font-weight: 700 !important;
}

nav ul li a.active,
nav ul li a:hover {
  color: var(--blue-color) !important;
}

nav .auth a {
  text-decoration: none;
}

nav .auth .sign-up {
  color: #fff !important;
  background-color: var(--blue-color);
  padding: 5px 10px;
  border-radius: 5px;
  margin: 0 7px;
}

nav .dropdown-item.active,
nav .dropdown-item:active {
  background-color: transparent;
}

.special-btn,
.special-btn:hover {
  background-color: var(--blue-color);
  color: white;
  text-decoration: none;
  padding: 9px 15px;
  border-radius: 5px;
  border: none;
}

.home-header {
  padding: 5rem 0;
  background-color: #fafafa;
}

.home-header .row div:first-child {
  padding-top: 5rem;
  padding-bottom: 3rem;
}

.home-header .row div h2 {
  font-weight: 700;
}

.home-header .row div h2 span {
  color: var(--blue-color);
}

.home-header .ellipse {
  position: relative;
}

.home-header .row div img {
  width: 65%;
}

.about p {
  font-size: 18px;
  font-weight: 500;
  max-width: 700px;
  margin: 0 auto;
  /* line-height: 1.1; */
}

.about,
.latest,
.services,
.articles {
  padding: 3rem 0;
}

.about {
  background-color: #fff;
  padding: 5rem 0;
}

.about h3,
.latest h3,
.services h3,
.articles h3 {
  margin-bottom: 3rem;
  font-size: 40px;
  font-weight: 700;
}

.latest,
.articles {
  background-color: #f8fdff;
}

.latest .row>div {
  width: 300px;
  margin: 0 auto;
}

.latest .row>div:nth-child(odd) {
  margin-top: 4rem;
}

.services .service {
  background-color: #fff;
  box-shadow: 0 0 7px 0 #ddd;
  width: 260px;
  margin: 0 auto;
  padding: 15px;
  border-radius: 10px;
}

.services .service div {
  background-color: var(--baby-blue);
  padding-top: 3rem;
  position: relative;
  height: 257px;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}

.services .service div>svg,
.services .service div>img {
  position: absolute;
  right: 0px;
  bottom: 0;
}

.services .service a {
  display: block;
  color: #023047;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  padding: 20px 0 5px;
  font-weight: 500;
  transition: 0.2s;
}

.services .service a:hover {
  color: var(--blue-color);
}

.splide__track {
  height: 380px;
  padding-top: 10px;
}

.splide__arrow {
  /* top: -60px !important; */
  background-color: #fff !important;
  box-shadow: 1px 4px 11.3px 0px #6a6a6a12 !important;
  border: 0.25px solid #e6ebed !important;
  border-radius: 8px !important;
  width: 50px !important;
  height: 40px !important;
  /* opacity: 0 !important; */
  /* transition: 0.5s; */
}

.splide__arrow svg {
  fill: var(--blue-color) !important;
}

.splide__arrow.splide__arrow--prev {
  left: -30px;
}

.splide__arrow.splide__arrow--next {
  right: -30px;
}

/* .splide__track:hover > .splide__arrows > .splide__arrow{
    opacity: 1 !important;
} */

footer {
  background-color: var(--foter-bg-color);
  color: white;
  padding: 3rem 0;
}

footer .logo {
  text-decoration: none;
  color: white;
}

footer ul:not(.icons) li a:hover {
  color: #fff !important;
}

footer p span {
  color: var(--blue-color);
}

footer .copy-right {
  padding: 10px 0 0 0;
}

footer .copy-right p {
  font-size: 14px;
}


footer .icons a {
  display: flex;
  width: 38px;
  height: 38px;
  align-items: center;
  justify-content: center;
}



.page-not-found {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.page-not-found h1 {
  font-size: 60px;
  font-weight: 600;
  color: var(--blue-color);
}

.page-not-found h3 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 500;
}

.page-not-found a,
.page-not-found a:hover {
  background-color: var(--blue-color);
  color: white;
}

@media (max-width: 992px) {
  .auth {
    padding: 15px 0;
  }

  .home-header .row div:first-child {
    padding-top: 0;
    padding-bottom: 0;
  }

  .home-header img {
    width: 100% !important;
  }

  .services .service {
    width: 250px;
  }

}

@media (max-width: 768px) {
  .home-header .row div:first-child {
    padding-top: 0;
    padding-bottom: 0;
  }

  .home-header img {
    width: 100% !important;
  }

  .latest img {
    width: 100% !important;
  }

  .latest .row>div {
    width: 300px;
    margin: 0 auto;
  }

  .latest .row>div:nth-child(odd) {
    margin-top: 0rem;
    margin: 30px auto;
  }

  .splide__track {
    margin-bottom: 2.5rem;
  }

  .splide__arrow {
    top: 100% !important;
    margin: 15px 0;
  }

  .splide__arrow.splide__arrow--prev {
    left: 32%;
  }

  .splide__arrow.splide__arrow--next {
    right: 32%;
  }

  .services .service {
    width: 260px;
    margin: 0px auto 30px !important;
  }


}