.drug-interactions header {
    background-image: url(../img/drug-bg-img.png);
}

.drug-interactions .middle section:first-child {
    width: 100%;
    padding: 15px;
}

.drug-interactions .middle section form input[type='text'] {
    margin-right: 10px;
    font-size: 18px;
}

.drug-interactions .middle section form .drug-name {
    background-color: transparent;
    position: relative;
    z-index: 0;
}

#autocomplete {
    position: absolute;
    /* z-index: -1; */
    border: 0;
    left: 11px;
    top: 40px;
    color: #858C94;
    font-size: 18px;
}

.drug-interactions .middle section form .add-drug {
    text-decoration: none;
    padding: 7px 16px;
    border-radius: 8px;
    /* background: linear-gradient(0deg, #219EBC, #219EBC),
        linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)); */
    background-color: rgba(0, 128, 255, 1);
    border: 0;
    color: white;
    cursor: pointer;
}

.drug-interactions .middle section form .drug {
    display: inline-block;
    padding: 8px 16px;
    border-radius: 8px;
    background-color: white;
    color: #0096EA !important;
    border: 1px solid !important;
    cursor: pointer;
}

.drug-interactions .middle section form input[type='checkbox'] {
    border: 1px solid #678391
}

.drug-interactions .middle section form label {
    color: #678391;
}

.drug-interactions .middle section form .btn-clear {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    background-color: #fff;
    padding: 0px 16px;
    color: #009eed;
    border: 0;
    width: 402px;
    height: 40px;
    cursor: pointer;
}

.drug-interactions .result h3 {
    font-weight: 500;
}

.drug-interactions .result h3 span {
    color: #0096EA;
}

.drug-interactions .result>div {
    padding: 2rem;
    border: 1.24px solid #E6EBED;
    border-radius: 19.88px;
}

.toggle-nav {
    background: linear-gradient(326.42deg, #0096EA 10.57%, #00D1FF 154.06%);
    color: white;
    position: fixed;
    bottom: 40px;
    left: -55px;
    border: 0;
    z-index: 9;
    padding-left: 55px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}


@media (width <=767px) {

    .drug-interactions .middle section form button[type='submit'],
    .drug-interactions .middle section form .btn-clear {
        width: 100% !important;
    }
}

@media (768px <=width <=995px) {
    .drug-interactions .middle section:first-child {
        width: 100% !important;
    }

    .drug-interactions .middle section form button[type='submit'],
    .drug-interactions .middle section form .btn-clear {
        width: 80% !important;
    }

}